.heading{
    color:rgb(80, 5, 8);
    font-family:"Roboto";
    font-size:50px;
    font-weight:bold;
    text-align:center;
}
.gender-field-heading{
    color:rgb(48, 6, 107);
    font-size: 20px;
    font-family:"Roboto";
}
.error-message{
    color:red;
    font-size:15px;
    font-family:"Roboto";
}
.imag-contianer{
    background-image: url("https://img.money.com/2023/06/Explainer-Write-Resume.jpg?quality=85");
    width: 100vw;
}
